<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Date</key>
		<string>2015.06.01</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.02</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.03</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.04</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.05</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.06</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.07</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.08</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.09</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.10</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.11</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.12</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.13</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.14</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.15</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.16</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.17</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.18</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.19</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.20</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.21</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.22</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.23</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.24</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.25</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.26</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.27</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.28</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.29</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.06.30</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.01</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.02</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.03</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.04</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.05</string>
		<key>TotalAssets</key>
		<real>100000</real>
		<key>ProfitAndLoss</key>
		<real>-10000</real>
		<key>Rate</key>
		<string>-10.00%</string>
	</dict>
	<dict>
		<key>Date</key>
		<string>2015.07.06</string>
		<key>TotalAssets</key>
		<integer>100000</integer>
		<key>ProfitAndLoss</key>
		<real>10000</real>
		<key>Rate</key>
		<string>10.00%</string>
	</dict>
</array>
</plist>
